.main_game_page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}

.player-cards {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.main-player-card {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgb(255, 204, 0);
  font-size: 1.6em;
}

.player-card {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #555;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.player-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
}

.train-count {
  font-size: 14px;
  color: #555;
}
