.main_game_page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  color: #555;
}

.player_cards_format {
  position: absolute;
  top: 1vw;
  left: 2vw;
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.player_actions {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
}

.train_cards {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.main_player_card {
  width: 15vw;
  height: 10vw;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game_over_popup {
  width: 35vw;
  height: 35vw;
  position: absolute;
  background-color: white;
  opacity: 80%;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  z-index: 100;
}
